<div>
    <h2>Información básica</h2>
    <p>primerNombre: {{ clienteData.primerNombre }}</p>
    <p>segundoNombre: {{ clienteData.segundoNombre }}</p>
    <p>primerApellido: {{ clienteData.primerApellido }}</p>
    <p>segundoApellido: {{ clienteData.segundoApellido }}</p>
    <p>telefono: {{ clienteData.telefono }}</p>
    <p>direccion: {{ clienteData.direccion }}</p>
    <p>Ciudad De Residencia: {{ clienteData.ciudadResidencia }}</p>

    <button class="btn btn-primary" (click)="volver()">Volver</button>
</div>
  
  