  <div class="container">
    <div class="content row">
      <div class="col-md-3 div-content">
        <form (ngSubmit)="buscarCliente()">
          <div class="form-group">
            <label for="tipoDocumento">Tipo de Documento</label>
            <select class="form-control" id="tipoDocumento" [(ngModel)]="tipoDocumento" name="tipoDocumento" required>
              <option value="" disabled selected>Seleccione un tipo</option>
              <option value="C">Cédula de Ciudadanía</option>
              <option value="P">Pasaporte</option>
            </select>
          </div>
          <div class="form-group">
            <label for="numeroDocumento">Número de Documento  23445322</label>
            <input type="text" class="form-control" id="numeroDocumento" [(ngModel)]="numeroDocumento" name="numeroDocumento" required>
          </div>
          <div class="form-group button">
            <button type="submit" class="btn btn-primary" [disabled]="!(tipoDocumento && numeroDocumento)">Buscar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  